/* line 4, ../sass/application.scss */
header {
  width: 100%;
  height: 80px;
  /* Height of the footer */
  background: #dddddd;
}
/* line 9, ../sass/application.scss */
header nav {
  float: right;
  height: 84px;
  width: 50%;
  text-align: right;
}
/* line 14, ../sass/application.scss */
header nav ul {
  float: right;
  height: 80px;
  line-height: 80px;
}
/* line 19, ../sass/application.scss */
header nav ul li {
  display: inline-block;
  margin-right: 30px;
}
/* line 26, ../sass/application.scss */
header h2 {
  float: left;
  margin-left: 20px;
}

/* line 32, ../sass/application.scss */
.l-inline > * {
  display: inline-block;
}

/* line 36, ../sass/application.scss */
.container {
  padding: 10px 20px;
}

/* line 41, ../sass/application.scss */
form .field {
  text-align: right;
}
/* line 43, ../sass/application.scss */
form .field .error {
  font-size: 12px;
}

/* line 49, ../sass/application.scss */
.center {
  text-align: center;
}
