<div class="container">
  <div class="fixed-left">
    <div class="row">
      <div class="app-image">
        <div class="field push_one ten columns">
          <input class="input small app-search" type="search" placeholder="Search input">
        </div>
      </div>
    </div>
    <div class="row app-name">
      <h3>Application Name</h3>
      <div class="rating">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </div>
    </div>
    <div class="row">
      <p>Knight Rider. A shadowy flight into the dangerous world of a man who does not exist. Michael Knight, a young loner on a crusade to champion the cause of the innocent, the helpless, the powerless, in a world of criminals who operate above the law.</p>
    </div>
    <div class="row">
      <div class="medium default btn"><input type="submit" value="Get App"></div>
      <div class="medium default btn icon-only entypo icon-heart heart"><a href="#"></a></div>
      <div class="likes"><span>1,234 Likes</span></div>
    </div>
  </div>
  <div class="fluid-right">
    <div class="row">
      <div class="comment-box">
        <textarea class="input textarea" placeholder="Textarea" rows="4"></textarea>
      </div>
    </div>
  </div>
  <header>
    <h2>Launchday.io</h2>
    <nav>
      <ul>
        <li class="four columns"><a href="#">Newest</a></li>
        <li class="four columns"><a href="#">Popular</a></li>
        <li class="four columns"><a href="#">Create</a></li>
      </ul>
    </nav>
  </header>
</div>
