<div class="row">
  <div class="seven columns centered">
    <h2>Register</h2>
    <form method="post" action="/register">
      <ul>
        <li class="field"><input class="wide text input" type="text" placeholder="First Name" /></li>
        <li class="field"><input class="wide text input" type="text" placeholder="Last Name" /></li>
        <li class="field"><input class="wide text input" type="text" placeholder="Company Name (optional)" /></li>
        <li class="field"><input class="wide password input" type="password" placeholder="Password input" /></li>
        <li class="field"><input class="wide email input" type="email" placeholder="Email input" /></li>
      </ul>
    </form>
    <div class="medium primary btn"><a href="#">Submit</a></div>
  </div>
</div>
